.md-nav {
    font-size: 0.6rem;
}

.md-typeset {
    font-size: 0.7rem;
    line-height: 1.8;
}

.md-typeset h1 {
    font-size: 1.6em;
    font-weight: bold;
}

.md-typeset h2 {
    font-size: 1.4em;
    font-weight: bold;
}

.md-typeset p > code {
    padding: 2px 8px;
    color: #e83e8c;
    background-color: #fafafa;
    font-size: 1.0em;
}

table.codehilitetable td.code span {
    font-size: 1.15em;
}