.md-typeset h1 {
    font-size: 1.6em;
    font-weight: bold;
}

.md-typeset h2 {
    font-size: 1.4em;
    font-weight: bold;
}

.md-typeset {
    font-size: 0.7rem;
    line-height: 1.8;
}