/** ナビゲーション */
.md-nav {
    font-size: 0.6rem;
}

/** 全体 */
.md-typeset {
    font-size: 0.7rem;
    line-height: 1.8;
}

/** h1 */
.md-typeset h1 {
    font-size: 1.6em;
    font-weight: bold;
}

/** h2 */
.md-typeset h2 {
    font-size: 1.4em;
    font-weight: bold;
}

/** h3 */
.md-typeset h3 {
    font-size: 1.2em;
    font-weight: bold;
}

/** インラインコード */
.md-typeset p > code {
    padding: 2px 8px;
    color: #e83e8c;
    background-color: #fafafa;
    font-size: 1.0em;
}

/** コードブロック */
table.codehilitetable td.code span {
    font-size: 1.15em;
}

/** 定義リスト */
dt {
    font-size: 1.15em;
    font-weight: bold;
    font-family: 'JetBrains Mono', Consolas, monospace;
    color: #996666;
}

dd {
    font-size: 0.9em;
}

/** テーブル */
.md-typeset table:not([class]) {
    border: 0.05rem solid var(--md-primary-fg-color);
}

.md-typeset table:not([class]) th {
    padding: 0.4em 1.0em;
    color: white;
    background-color: var(--md-primary-fg-color);
}

.md-typeset table:not([class]) td {
    border-top: 0.05rem solid var(--md-primary-fg-color);
    padding: 0.4em 1.0em;
}

/** 画像左寄せ */
.md-typeset .img-left {
    width: 100%;
}

/** 画像中央寄せ */
.md-typeset .img-center {
    margin: 0 auto;
    width: 80%;
}

@media screen and (min-width: 40em) {
    .md-typeset .img-left {
        float: left;
        width: 50%;
        margin-right: 16px;
    }
    .md-typeset .img-center {
        width: 50%;
    }
}

@media screen and (min-width: 76.25em) {
    .md-typeset .img-left {
        float: left;
        width: 30%;
        margin-right: 16px;
    }
    .md-typeset .img-center {
        width: 30%;
    }
}

/** 画像キャプション */
.md-typeset figcaption {
    font-weight: bold;
}

/** 回り込み解除 */
.md-typeset hr.clear-both {
    border-width: 0;
    clear: both;
}

/** テキスト中央寄せ */
.md-typeset .text-center {
    text-align: center;
}